<div class="title-row">
	<h1>All users</h1>
	<div>
		<button mat-raised-button (click)="loadData()">
			<mat-icon>refresh</mat-icon>
			Refresh
		</button>
	</div>
</div>

<table mat-table [dataSource]="tableData">
	<ng-container matColumnDef="index">
		<th mat-header-cell *matHeaderCellDef>No.</th>
		<td mat-cell *matCellDef="let user">
			{{ user.index }}
		</td>
	</ng-container>
	<mat-text-column name="username"></mat-text-column>
	<ng-container matColumnDef="email">
		<th mat-header-cell *matHeaderCellDef>Email</th>
		<td mat-cell *matCellDef="let user">
			{{ user.email }}
		</td>
	</ng-container>
	<ng-container matColumnDef="status">
		<th mat-header-cell *matHeaderCellDef>Status</th>
		<td mat-cell *matCellDef="let user">
			<span class="user-badge" [ngClass]="user.suspendedReason ? 'suspended' : 'active'">
				{{ user.suspendedReason ? "Suspended" : "Active" }}
			</span>
		</td>
	</ng-container>
	<ng-container matColumnDef="registeredAt">
		<th mat-header-cell *matHeaderCellDef>Registered at</th>
		<td mat-cell *matCellDef="let user">
			{{ user.registeredAt | date: "medium" }}
			({{ user.registeredAt | timeago }})
		</td>
	</ng-container>
	<ng-container matColumnDef="totalRides">
		<th mat-header-cell *matHeaderCellDef>Rides</th>
		<td mat-cell *matCellDef="let user">
			{{ user.currentRides }} current rides ({{ user.totalRides }} total)
		</td>
	</ng-container>

	<tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
	<tr
		mat-row
		*matRowDef="let user; columns: tableColumns"
		class="clickable-row"
		[routerLink]="'/users/' + user._id"
	></tr>
</table>
