
.content {
	display: block;
	padding: 15px;
}

.info-card {
	margin-bottom: 15px;
}

.top-row {
	display: flex;
	& * {
		flex: 1 0;
		margin-left: 15px;
	}
	& *:first-child {
		margin-left: 0;
	}
}

[mat-table] {
	width: 100%;
}

mat-card-header.justified {
	justify-content: space-between;
}
