<div class="content">
	<ng-container *ngIf="user">
		<div class="title-row">
			<h1>
			<a mat-icon-button routerLink=".."><mat-icon>arrow_back</mat-icon></a>
				Details for user {{ user.email }}
			</h1>
			<div>
				<button mat-raised-button (click)="loadData()">
					<mat-icon>refresh</mat-icon>
					Refresh
				</button>
			</div>
		</div>
		<div class="top-row">
			<mat-card class="info-card">
				<mat-card-header>
					<mat-card-title>Basic details</mat-card-title>
				</mat-card-header>
				<mat-card-content>
					<div class="alert" *ngIf="user.suspendedReason">
						<b>This user is suspended.</b><br />
						Reason: {{ user.suspendedReason }}
					</div>
					<mat-form-field>
						<mat-label>Email</mat-label>
						<input matInput [value]="user.email" disabled />
					</mat-form-field>
					<mat-form-field>
						<mat-label>Username</mat-label>
						<input matInput [value]="user.username" disabled />
					</mat-form-field>
					<mat-form-field [matTooltip]="user.registeredAt | timeago">
						<mat-label>Registered</mat-label>
						<input
							matInput
							[value]="user.registeredAt | date: 'medium'"
							disabled
						/>
					</mat-form-field>
					<mat-form-field [matTooltip]="user.lastLoginAt | timeago">
						<mat-label>Last login</mat-label>
						<input
							matInput
							[value]="user.lastLoginAt | date: 'medium'"
							disabled
						/>
					</mat-form-field>
				</mat-card-content>
			</mat-card>
			<div>
				<mat-card class="info-card">
					<mat-card-header>
						<mat-card-title>Driver's license</mat-card-title>
					</mat-card-header>
					<mat-card-content>
						<ng-container *ngIf="user.driversLicense">
							<img [src]="user.driversLicense" class="license" />
						</ng-container>
						<ng-container *ngIf="!user.driversLicense">
							User hasn't uploaded a driver's license.
						</ng-container>
					</mat-card-content>
				</mat-card>
				<mat-card class="info-card">
					<mat-card-header>
						<mat-card-title>Options</mat-card-title>
					</mat-card-header>
					<mat-card-content>
						<button
							mat-raised-button
							color="warn"
							(click)="handleSuspend()"
							[disabled]="user.suspendedReason"
						>
							<mat-icon>app_blocking</mat-icon>
							Suspend
						</button>
					</mat-card-content>
				</mat-card>
			</div>
		</div>
		<mat-card class="info-card">
			<mat-card-header class="justified">
				<mat-card-title>Rides</mat-card-title>
				<div>Updates every 5 seconds</div>
			</mat-card-header>
			<mat-card-content>
				<app-rides-table of="user" [id]="user._id"></app-rides-table>
			</mat-card-content>
		</mat-card>
	</ng-container>
</div>
