<mat-progress-bar
	[mode]="isLoading ? 'indeterminate' : 'determinate'"
></mat-progress-bar>

<div class="content">
	<ng-container *ngIf="user">
		<h1>Details for user {{ user.email }}</h1>
		<div class="top-row">
			<mat-card class="info-card">
				<mat-card-header>
					<mat-card-title>Basic details</mat-card-title>
				</mat-card-header>
				<mat-card-content>
					Email: {{ user.email }}<br />
					Username: {{ user.username }}<br />
					Registered: {{ user.registeredAt | date: "medium" }} ({{
						user.registeredAt | timeago
					}})<br />
					Last login: {{ user.lastLoginAt | date: "medium" }} ({{
						user.lastLoginAt | timeago
					}})
				</mat-card-content>
			</mat-card>
			<mat-card class="info-card">
				<mat-card-header>
					<mat-card-title>Driver's license</mat-card-title>
				</mat-card-header>
				<mat-card-content>
					<ng-container *ngIf="user.driversLicense">
						<img [src]="user.driversLicense" />
					</ng-container>
					<ng-container *ngIf="!user.driversLicense">
						User hasn't uploaded a driver's license.
					</ng-container>
				</mat-card-content>
			</mat-card>
		</div>
		<mat-card class="info-card">
			<mat-card-header class="justified">
				<mat-card-title>Rides</mat-card-title>
				<div>Updates every 5 seconds</div>
			</mat-card-header>
			<mat-card-content>
				<ng-container *ngIf="rides && rides.length === 0">
					No rides.
				</ng-container>
				<table mat-table *ngIf="rides && rides.length !== 0" [dataSource]="rides">
					<ng-container matColumnDef="status">
						<th mat-header-cell *matHeaderCellDef>Status</th>
						<td mat-cell *matCellDef="let ride">
							{{ ride.status }}
						</td>
					</ng-container>
					<ng-container matColumnDef="duration">
						<th mat-header-cell *matHeaderCellDef>Duration</th>
						<td mat-cell *matCellDef="let ride">
							<ng-container *ngIf="ride.endedAt">
								{{ ride.startedAt | date:"medium" }} -- {{ ride.endedAt | date:"medium" }}<br>
								For a grand total of {{ ride.duration | duration }}
							</ng-container>
							<ng-container *ngIf="!ride.endedAt">
								Started at {{ ride.startedAt | date:"medium" }} ({{ ride.startedAt | timeago }})
							</ng-container>
						</td>
					</ng-container>
					<ng-container matColumnDef="route">
						<th mat-header-cell *matHeaderCellDef>Route (values might be imprecise)</th>
						<td mat-cell *matCellDef="let ride">
							Journey length: {{ ride.pathDistance }} meters<br>
							Linear distance: {{ ride.linearDistance }} meters
						</td>
					</ng-container>
					<ng-container matColumnDef="price">
						<th mat-header-cell *matHeaderCellDef>Price</th>
						<td mat-cell *matCellDef="let ride">
							{{ ride.price | ron }}
						</td>
					</ng-container>
					<ng-container matColumnDef="scooter">
						<th mat-header-cell *matHeaderCellDef>Scooter</th>
						<td mat-cell *matCellDef="let ride">
							Code {{ ride.scooter.code }} {{ ride.scooter.isDummy ? '(dummy)' : '(real)' }}
							{{ ride.status === 'ongoing' ? (ride.scooter.isUnlocked ? '(unlocked)' : '(locked)') : ''}}
						</td>
					</ng-container>

					<tr mat-header-row *matHeaderRowDef="rideColumns"></tr>
					<tr mat-row *matRowDef="let row; columns: rideColumns;"></tr>
				</table>
			</mat-card-content>
		</mat-card>
	</ng-container>
</div>
