
:host {
	display: block;
	padding: 15px;
}

.row {
	display: flex;
	&>* {
		flex: 1;
	}
	&>*:not(:first-child) {
		margin-left: 15px;
	}
}

.info-card {
	margin-bottom: 15px;
}

mat-form-field {
	width: 100%;
}

.title-row {
	display: flex;
	justify-content: space-between;
}
mat-card-header.title-row {
	@extend .title-row;
	margin-bottom: 10px;
}

.float-right {
	float: right;
}
