
$status-colors: (
	scooter: (
		available: green,
		disabled: darkred,
		booked: red,
		booking: rgb(207, 135, 0),
		unavailable: blueviolet
	),
	ride: (
		ongoing: rgb(0, 163, 0),
		payment-pending: rgb(207, 135, 0),
		completed: darkgreen
	),
	user: (
		active: green,
		suspended: red
	)
);
$has-google-maps-bindings: (
	scooter: true,
	ride: false,
	user: false
);

@each $entity, $colors in $status-colors {
	span.#{$entity}-badge, div.#{$entity}-badge {
		background-color: gray;
		border-radius: 5px;
		padding: 5px;
		@if map-get($has-google-maps-bindings, $entity) {
			&.map-#{$entity}-badge, &.map-badge {
				color: white !important;
				&.highlighted {
					background-color: white;
					color: black !important;
					font-weight: bolder;
					@each $status, $color in $colors {
						&.#{$status} {
							border: 3px solid $color;
						}
					}
				}
			}
		}
		@each $status, $color in $colors {
			&.#{$status} {
				background-color: $color;
			}
		}
	}
}

google-map {
	.ride-label {
		padding: 5px;
		border-radius: 5px;
		background-color: pink;
		font-weight: bolder;
	}
}
