
<mat-toolbar>
	<button mat-icon-button *ngIf="isLoggedIn" (click)="isSidebarOpen = !isSidebarOpen">
		<mat-icon>menu</mat-icon>
	</button>
	<span>Tapp Move - Admin Panel</span>
	<xng-breadcrumb [separator]="bcSeparator" class="bc">
		<ng-container *xngBreadcrumbItem="let breadcrumb">
			<span class="bc-item">{{ breadcrumb | firstCase }}</span>
		</ng-container>
	</xng-breadcrumb>
	<div class="spacer"></div>
	<mat-spinner diameter="40" *ngIf="isDoingTask"></mat-spinner>
	<button mat-mini-fab class="item-spacer" *ngIf="isLoggedIn" (click)="onLogoutClick()">
		<mat-icon>logout</mat-icon>
	</button>
</mat-toolbar>

<mat-sidenav-container>
	<mat-sidenav mode="side" [opened]="isSidebarOpen">
		<mat-nav-list>
			<a mat-list-item routerLink="/users">Users</a>
		</mat-nav-list>
	</mat-sidenav>
	<mat-sidenav-content>
		<router-outlet></router-outlet>
	</mat-sidenav-content>
</mat-sidenav-container>

<ng-template #bcSeparator>
	<span class="bc-separator">&gt;</span>
</ng-template>
