
<mat-sidenav-container>
	<mat-sidenav
		mode="side"
		[opened]="sidenavStatus !== 'hidden' && isLoggedIn"
		[ngClass]="sidenavStatus"
		(mouseenter)="sidenavMouseEnter()"
		(mouseleave)="sidenavStatus = 'closed'"
	>
		<img class="logo" src="./assets/logo.png">
		<mat-nav-list>
			<section>

				<a mat-list-item routerLink="/users">
					<mat-icon matListIcon>people</mat-icon>
					<span *ngIf="sidenavStatus === 'open'">Users</span>
				</a>
				<a mat-list-item routerLink="/scooters">
					<mat-icon matListIcon>electric_scooter</mat-icon>
					<span *ngIf="sidenavStatus === 'open'">Scooters</span>
				</a>
				<a mat-list-item routerLink="/rides">
					<mat-icon matListIcon>moving</mat-icon>
					<span *ngIf="sidenavStatus === 'open'">Rides</span>
				</a>
			</section>
			<a mat-list-item class="logout" (click)="onLogoutClick()">
				<mat-icon matListIcon>logout</mat-icon>
				<span *ngIf="sidenavStatus === 'open'">Logout</span>
			</a>
		</mat-nav-list>
	</mat-sidenav>
	<mat-sidenav-content>
		<router-outlet></router-outlet>
	</mat-sidenav-content>
</mat-sidenav-container>

<ng-template #bcSeparator>
	<span class="bc-separator">&gt;</span>
</ng-template>
