
mat-sidenav {
	width: 300px;
	padding: 7px;
}

.spacer {
	flex: 1 1;
}

.bc {
	margin-left: 15px;
}

.bc-item, .bc-separator {
	font-size: 0.6em;
	// color: white;
}

.item-spacer {
	margin-left: 10px;
}
