
<div class="page-container">
	<nav
		class="sidenav"
		[ngClass]="sidenavStatus"
		*ngIf="sidenavStatus !== 'hidden'"
	>
		<button
			mat-icon-button
			class="collapse-btn"
			(click)="toggleSidenav()"
		>
			<mat-icon *ngIf="sidenavStatus === 'closed'">chevron_right</mat-icon>
			<mat-icon *ngIf="sidenavStatus === 'open'">chevron_left</mat-icon>
		</button>
		<img class="logo" src="./assets/logo.png">
		<mat-nav-list>
			<section>
				<a mat-list-item routerLink="/users">
					<mat-icon matListIcon>people</mat-icon>
					<span *ngIf="sidenavStatus === 'open'">Users</span>
				</a>
				<a mat-list-item routerLink="/scooters">
					<mat-icon matListIcon>electric_scooter</mat-icon>
					<span *ngIf="sidenavStatus === 'open'">Scooters</span>
				</a>
				<a mat-list-item routerLink="/rides">
					<mat-icon matListIcon>moving</mat-icon>
					<span *ngIf="sidenavStatus === 'open'">Rides</span>
				</a>
			</section>
			<a mat-list-item class="logout" (click)="onLogoutClick()">
				<mat-icon matListIcon>logout</mat-icon>
				<span *ngIf="sidenavStatus === 'open'">Logout</span>
			</a>
		</mat-nav-list>
	</nav>
	<div class="page-content" [ngClass]="'sidenav-' + sidenavStatus">
		<router-outlet></router-outlet>
	</div>
</div>

<ng-template #bcSeparator>
	<span class="bc-separator">&gt;</span>
</ng-template>
