<div class="width"></div>

<div *ngIf="isLoading" class="centered">
	<mat-spinner *ngIf="isLoading" class="spinner"></mat-spinner>
	<div *ngIf="message">{{ message }}</div>
	<a
		*ngIf="isButtonDisplayed"
		mat-raised-button color="primary"
		target="_blank"
		[href]="url"
		class=""
	>Continue to payment</a>
</div>

<ng-container *ngIf="!isLoading">
	<ng-container *ngIf="ride?.status === 'payment-pending'">
		<div style="text-align: center;">You have cancelled your payment.</div>
	</ng-container>

	<ng-container *ngIf="ride?.status === 'completed'">
		<div style="text-align: center;">
			<mat-icon>check_circle</mat-icon>
			Success! You paid this ride.
		</div>
	</ng-container>
</ng-container>
