
:host {
	display: flex;
	flex-direction: column;
	padding: 15px;
}

[mat-table] {
	width: 100%;
}

tr.highlighted {
	background-color: #666;
}

.map-spacer {
	height: 10px;
}

tr.clickable-row {
	cursor: pointer;
}

.sticky {
	position: sticky;
	top: 0;
	&.sticky-map {
		top: 15px;
	}
}

.top-row {
	display: flex;
	align-items: start;
	&>* {
		margin-left: 15px;
		flex: 1 0;
	}
	&>*:first-child {
		margin-left: inherit;
	}
}

.top-buttons {
	margin-left: auto;
	display: flex;
	align-items: center;
	margin-bottom: 15px;
	&>* {
		margin-left: 5px;
		&:first-child {
			margin-left: inherit;
		}
	}
}

span.red {
	color: red;
}
span.green {
	color: rgb(0, 184, 0);
}
span.gray {
	color: gray;
}
.separated>* {
	margin-right: 3px;
}

.map-highlighted {
	display: block;
	background-color: blue;
	padding: 4px;
}
